<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">

        <mat-toolbar>Menü</mat-toolbar>
        <h3 class="menu-text">Aktueller Nutzer: {{ user.name }}</h3>
        <h4 class="logout-text" (click)="tryLogout()">Abmelden</h4>

        <mat-nav-list>
            <a *ngIf="false" mat-list-item href="#">Teil 1</a>
            <a *ngIf="false" mat-list-item href="#">Teil 2</a>
            <a *ngIf="false" mat-list-item href="#">Teil 3</a>
        </mat-nav-list>

        <h3 class="version-string">v{{ versionString }}</h3>

    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Menü ein- und ausblenden"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Menü ein- und ausblenden">menu</mat-icon>
            </button>
          <span>{{ title }}</span>
        </mat-toolbar>

        <dashboard></dashboard>

    </mat-sidenav-content>

</mat-sidenav-container>
