.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
    max-width: 80vw;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-text {
    padding-left: 16px;
    padding-bottom: 5px;
}

.logout-text {
    padding-left: 16px;
    cursor: pointer;
}

.logout-text:hover {
    color: #ff4081;
}

.version-string {
    position: absolute;
    bottom: 10px;
    padding: 16px;
}
