<div class="container">
    <div>
        <h1>RPG-App</h1>

        <img src="/assets/icons/icon-128x128.png" />

        <mat-card class="login-card">
            <mat-card-title>Anmelden</mat-card-title>
            <mat-card-subtitle>Ohne Anmelde-Code geht hier nichts.</mat-card-subtitle>
            <mat-card-content>
                <p *ngIf="error.length > 0" class="error-message">{{ error }}</p>
                <mat-form-field appearance="standard">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="Anmelde-Code" [(ngModel)]="loginCode">
                    <mat-hint>Eingabeformat: 000-000-000-000</mat-hint>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="accent" (click)="tryLogin()">Login</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
